.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 15px;
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
      i {
        margin-right: 15px;
      }
    }
    .videoPlayer__volume {
      position: absolute;
      -webkit-appearance: none;
      padding: 0;
      opacity: 1;
      top: -60px;
      left: -25px;
      transform: rotate(-90deg);
      z-index: 10;
      width: 80px;
      height: 10px;
      vertical-align: bottom;
      background: #2e86de;
      cursor: pointer;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        background: #aeaeae;
        border-radius: 8px;
        box-shadow: inset 0 0 0 5px #eaeaea;
        transition: 0.1s ease-in;
        width: 16px;
      }
    }
    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }
    .videoPlayer__column:last-child {
      justify-self: end;
    }
    i {
      font-size: 18px;
      cursor: pointer;
    }
  }
}
