extends layouts/main 

block content
    .form-container
        form(action=`/users${routes.change_password}`, method="post")
            input(type="text", placeholder="Current Password", name="current_password")
            input(type="text", placeholder="New Password", name="new_password")
            input(type="text", placeholder="Verify New Password", name="verify_new_password")
            input(type="submit", value="Change Password")