extends layouts/main 

block content
    .form-container
        input(type="text", placeholder="Current Password", name="current_password")
        input(type="text", placeholder="New Password", name="new_password")
        input(type="text", placeholder="Verify New Password", name="verify_new_password")
        input(type="button", value="Change Password")