extends layouts/main
include mixins/videoBlock 

block content
    .search__header
        h3 search for #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No Video Found
        each video in videos
            +videoBlock({
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                id:video.id
            })