.video-detail__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #0984e3;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__view {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__comments {
    margin-top: 25px;
    text-align: center;
    .add__comment {
      margin-top: 25px;
      input[type="text"] {
        text-align: center;
      }
    }
    .video__comments-list {
      margin-top: 25px;
      .comments {
        background-color: #40739e;
        color: white;
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }
    .video__comments-number {
      font-size: 20px;
    }
  }
}
